@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=El+Messiri&family=Poppins:wght@200;500&display=swap');

body {
  scroll-behavior: smooth;
}

::selection {
  --tw-text-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-text-opacity));
  color: white;
}

.dancing{
  font-family: 'Dancing Script', cursive;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.ElMessirim {
  font-family: "El Messiri", sans-serif;
}
